.loginbox {
  width: 320px;
  height: 480px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(85% - 50%);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ffff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18 px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
